.contato-container {
  padding-top: 80px;
  padding-bottom: 0px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contatin {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 200px;
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: var(--cor-12);
}

.contato-formulario {
  background: var(--cor-0);
  border-radius: 0 5px 5px 0;
}

.contato-dados h2 {
  margin-bottom: 60px;
}

.contato-endereco {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("../../assets/img/icones/local.svg") no-repeat 0px 2px;
}

.contato-endereco p {
  margin-bottom: 8px;
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contato-meios a:hover {
  color: var(--cor-0);
}

.contato-meios a:first-child {
  background: url("../../assets/img/icones/email.svg") no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 32px;
}

.contato-meios a:nth-child(3) {
  background: url("../../assets/img/icones/telefone.svg") no-repeat 0px 2px;

  margin-bottom: 60px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}
.lojas-container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 140px;
}

.lojas-container h2 {
  margin-bottom: 60px;
}

.lojas-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20px;
}

.lojas-container img {
  border-radius: 4px 4px 0 0;
}

.lojas-item {
  border-radius: 4px;
  background: var(--cor-0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
  padding: 32px;
}

.lojas-conteudo h3,
.lojas-tempo {
  grid-column: 1/-1;
}

.lojas-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--cor-2);
  padding-left: 12px;
}

.lojas-tempo {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 800px) {
  .contato-container {
    grid-template-columns: 1fr;
  }

  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }

  .contato-dados {
    border-radius: 5px 5px 0 0;
  }

  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }

  .contato-dados h2,
  .contato-meios a:nth-child(3) {
    margin-bottom: 32px;
  }

  .contato-redes {
    margin-bottom: 12px;
  }

  .lojas-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lojas-container h2 {
    margin-bottom: 32px;
  }

  .lojas-conteudo {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .lojas-items-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
